.image-sedona--size--big {
  background-color: @blue;
  background-image: url("../../../img/bg-back-mobile@1x.jpg");
  width: 100%;
  height: 390px;
  position: relative;
  z-index: -1;

  &::before {
    position: absolute;
    content: " ";
    background-image: url("../../../img/text-sedona-index.svg");
    width: 280px;
    height: 215px;
  }
}
