.bgc-blue {
  background-color: @blue;
}

.caps {
  text-transform: uppercase;
}

.text {
  color: @gray;
  font-size: 14px;
  line-height: 21px;
}

.title {
  font-family: @font-bold;
  font-size: 18px;
}

.pad20 {
  padding-left: 20px;
  padding-right: 20px;
}
